body {
    background-color: white;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 660px;
}
div {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
#title {
    background-color: lightpink;
    color: red;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
#subtitle {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 300;
}
div {
    font-size: 16px;
    font-weight: 100;
}
.links {
    color: darkblue;
}
.photo {
    height: auto;
    width: 300px;
    text-align: center;
}
